---
import '../styles/global.css';
const x_user = 'mukoworks';
const circle_name = 'むこちゃん開発局';

import XLogo from '../assets/x-icon.png';
---

<footer class="w-full px-2m mt-auto">
    <div class="max-w-screen-lg mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 py-6">
            <div class="md:col-span-1 pb-3">
                <p>{circle_name}</p>
                <p class="pt-3 text-sm"><a href="/mukoworks">トップ</a></p>
            </div>
            <div class="md:col-span-1 pb-3">
                <p>外部リンク</p>
                <p class="pt-3 flex items-center gap-2 text-sm">
                    <img
                        class="w-4 h-4 object-contain"
                        src={XLogo.src}
                        alt="x logo image"
                    />
                    <a href={'https://x.com/' + x_user} target="_blank">X</a>
                </p>
            </div>
        </div>
        <div class="border-b-2 border-b-gray-200" />
        <div class="text-center text-xs text-gray-500 py-2">
            © むこちゃん開発局
        </div>
    </div>
</footer>

<style>
    footer {
        background-color: #EEEEEE;
    }
</style>